.warrap-placar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.warrap-placar > .turn{
    opacity: 0;
}
.warrap-placar > .turn.-active{
    opacity: 1;
}
